span{
    font-family: Arial;
    font-weight: bolder;
    font-size: xx-large;
}

.baller{
    font-family: Arial;
    font-size: medium;
    text-decoration-color: black;
}

#swag{
    font-weight: bold;
}